<div class="header">
  <div class="title"><img src="../assets/1651843_weather_snow_snowflake_winter_icon.png" alt="weathericon">   Weather App   <img src="../assets/1651843_weather_snow_snowflake_winter_icon.png" alt="weathericon">
  </div>
  <div class="nav">
    <input value="Pune" type="text" #input placeholder="Enter location">
    <button class="btn" mat-raised-button color="primary" (click)="getData(input.value)">Search</button> &nbsp;&nbsp;
  </div>
</div>
<br>



<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/coldd.jpg" *ngIf="18 > weatherData.main.temp">
    <img src="../assets/hot.jpg" *ngIf="18 <= weatherData.main.temp">

    <div class="info">
      <div class="location">
        {{weatherData.name}},{{weatherData.sys.country}}
      </div>
      <div class="temperature">{{weatherData.main.temp}}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Ctemperature.png" alt="Ctemperature">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Htemperature.png" alt="Htemperature">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="humidity">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}g.m-3
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="wind">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}}m/s
        </div>
      </div>
    </div>
  </div>
</div>