.header {
    height: 10vh;
    width: 100%;
    border-bottom: 2px solid rgba(247, 243, 243, 0.726);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: goldenrod;

}

.title {
    margin: 0 30px;
    font-size: 30px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.title img {
    position: relative;
    width: 30px;
    height: 30px;
}

.title:hover {
    color: rgb(26, 129, 247);
}

.nav {
    /* height: 40vh; */
    display: flex;
    justify-content: left;
    
}

.nav input {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    margin-right: 20px;
    border: none;
    outline: none;
    background-color: var(--grey-1);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #df8e00;
    color: #000002;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

.nav input:focus {
    background-color: var(--WHITE);
}

:root {
    --blue-1: #3C429E;
    --blue-2: #4C52AD;
    --yellow-1: #FAC742;
    --WHITE: #fff;
    --grey-1: #ededed;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-light: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: #df8e00;
}

.btn:hover {
    background-color: none;
    color: rgb(44, 99, 240);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 80vh;
    /* background-color: rgba(79, 73, 72, 0.649); */
}

.container {
    margin-top: 2vh;
    width: 400px;
    height: 80vh;
    background-color: var(--blue-2);
    border-radius: 25px 25px 25px 25px;
    box-shadow: 10px 10px 10px var(--shadow-dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0.5em;
    border-radius: 20px;
}

.upper-data img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.lower-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.info {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.location {
    color: var(--WHITE);
    text-align: center;
    font-size: 2em;
    font-weight: 200;
}

.temperature {
    color: var(--WHITE);
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

.more-info-label {
    color: var(--WHITE);
}

.more-info-container {
    flex: 1;
    background-color: var(--shadow-light);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-block {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.info-block-label {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-block-label img {
    width: 4em;
}

.info-block-label span {
    color: var(--WHITE);
    font-size: 1em;
}

.info-block-value {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--WHITE);
}

.inp {
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}